.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}
.velikidiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  width: 350px;
}
.manjidiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 330px;
}
.div_za_tekst{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 350px;
  height: 200px;
}
.learn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 100px;
}
.gornjiDiv{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 350px;
}
.maloP{
  font-size: 17px;
  opacity: 0.8;
  color: gray;
}
.zaKarticu{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  width: 400px;
  height: 190px;
  border: 1px gray solid;
  border-radius: 10px;
}
.zaIkonu{
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: rgb(51, 185, 233);
  text-align: center;
  border-radius: 50%;
  margin-left:20px;
}
.najdiv{
  margin: auto;
  width: 30%;
  height: 250px;
}
.cardDiv{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 600px;
  flex-wrap: wrap;
}
#pid,#h3id{
  margin-left: 20px;
} 
#zaBut{
  width: 60px;
  height: 28px;
  background-color: purple;
}